<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sitewriter</title>
    <link rel="stylesheet" href="/css/reset.css?v=20180318">
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/">sitewriter</a></h1>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
